html, body {
  height: 100%;
  max-width: 100%;
}

body {
  background: radial-gradient(ellipse farthest-corner at center top, #4b4b4b 0%, #484848 100%);
  color: #fff;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
}

a {
  color: rgba(194,68,72, 1);
}

div.header {
  text-align: center;
  margin: 2em 0 0 0;
}

.header h1 {
  font-size: 4em;
  font-weight: 100;
  margin: 0 0 0.25em 0;
  line-height: 1em;
}

h1 a {
  text-decoration: none;
  color: white;
}

.sub-header{
  font-size: 1.15em;
  line-height: 1em;
  font-weight: 100;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
}

.sub-header > span{
  display: block;
  padding-bottom: 0.5em;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0 0 20px;
  z-index: 10;
}

.epoch.brand .line {
  stroke: rgba(224, 87, 79, 0.8) !important;
  stroke-width: 3px;
}

.graph-container {
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-height: 100%;
  max-width: 70%;
  padding: 20px;
  padding-bottom: 45px;
  margin: 0 auto;
  width: auto;
}

.epoch {
  flex-grow: 1;
  height: 120px;
  margin: 10px 0;
  z-index: 0;
}

.epoch-theme-dark .epoch .axis path, .epoch-theme-dark .epoch .axis line {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2px;
}

.epoch-theme-dark .epoch .axis line {

}

.epoch-theme-dark .epoch .axis .tick text {
  fill: rgba(255, 255, 255, 0.5);
}

.epoch-theme-dark .epoch .area {
  fill: rgba(255, 255, 255, 0.3) !important;
}

.epoch-theme-dark .epoch {
  fill: white !important;
}

.total-count {
  font-size: 28px;
  text-align: center;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 1.75em;
  float: right;
}

footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1em 0;
  margin: 0em 2.5%;
  border-top: 1px solid #e5e5e5;
  line-height: 140%;
  font-size: 1em;
  font-weight: 100;
}

footer a {
  font-weight: 400;
}

footer section {
  display: block;
  padding: 0 0.25em;
}

/*.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 45px;
  font-size: 12px;
  
  text-align: center;
}

.footer img {
  height: 25px;
  vertical-align: middle;
}

.footer a, .footer a:visited {
  color: #fff;
}*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 4800px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .sub-header{
    font-size: 1em;
    margin: 0 1em;
  }

  .desktop-only{
    display: none !important;
  }

  .epoch-theme-dark{
    width: 100%;
  }

  .graph-container {
    max-width: 100%;
    margin: 20px 0 !important;
    padding: 0 !important;
  }

  .total-count {
    font-size: 0.75em;
  }
}
